body{
  background-color: black;
}
body { padding-top: 50px; }
nav {
background-color: #0F8B8D;
width: 100%;
}
.custom-toggler.navbar-toggler {
    border-color: #0F8B8D;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("menu.png");
}

nav ul li a:link, ul li a:visited {
	text-decoration: none;
	text-align: center;
	color: black;
  font-weight: bold;
  font-size: 25px;
}
 nav ul li a:hover {
	text-decoration: none;
  background-color: #DAD2D8;
	text-align: center;
	color: black;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
}

nav a:hover {
 text-decoration: none;
 background-color: #DAD2D8;
 text-align: center;
 color: black;
 font-weight: bold;
 font-size: 25px;
 border-radius: 10px;
}
nav ul li a:active {
 text-decoration: none;
 background-color: #878185;
 text-align: center;
 color: black;
 font-weight: bold;
 font-size: 25px;
}
#pic{
  width: 150px;
}
div{
  text-align: center;

}
div h1{
  margin-top: 50px;
  margin-bottom: 50px;
}
#pic1{
  width: 90%;
  margin:0 auto;
}
footer{
  width: 100%;
  background-color: #143642;
  color: #DAD2D8;
}
div h2{
  font-size: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.none:link, .none:visited{
  text-decoration: none;
	text-align: center;
  color:#DAD2D8;
  list-style-type: none;
}
.none:hover{
  text-decoration: none;
	text-align: center;
  color:#EC9A29;
  list-style-type: none;
}
.none:active{
  text-decoration: none;
	text-align: center;
  color:#A8201A;
  list-style-type: none;
}
.pows{
  background-color: #DAD2D8 !important;
}
.pow:link, .pow:visited{
  background-color:#DAD2D8 !important;
}

.pow:hover{
    background-color:#EC9A29 !important;
  }

.pow:active{
    color:#A8201A !important;
}

.bgcol{
  background-color: #EC9A29 !important;
  border: 2px solid black;
  margin-top: 10px;
  font-weight: 400;
  padding-top: 5px;

}

.bgcols{
  background-color: #A8201A !important;
  border: 3px solid black;
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  padding-top: 5px;
}

.flip-container {
	perspective: 1000px;

}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);

	}

.flip-container, .front, .back {
  width: 100%;
  height: 100%;
  text-align: center;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
